In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from wordcloud import WordCloud,STOPWORDS
import missingno as msno
import squarify

%matplotlib inline
plt.style.use('fivethirtyeight')
plt.rcParams.update({'font.size':12})

In [9]:
#path = 'dataset/'
path = 'wine-reviews/'
wine_150k = pd.read_csv(path + 'winemag-data_first150k.csv',index_col=0)
wine_130k = pd.read_csv(path + 'winemag-data-130k-v2.csv',index_col=0)
wine = pd.concat([wine_150k,wine_130k],axis=0)
#wine = wine_150k
print("Number of rows and columns:",wine.shape)

Number of rows and columns: (280901, 13)

In [4]:
wine.head()
wine.isna().sum()# 280901

country                      68
description                   0
designation               83200
points                        0
price                     22691
province                     68
region_1                  46307
region_2                 169437
variety                       1
winery                        0
taster_name              177174
taster_twitter_handle    182143
title                    150930
dtype: int64

In [10]:
# drop columns
wine.drop(columns=['taster_name','taster_twitter_handle'], inplace=True)
# drop duplicates
wine.drop_duplicates(inplace=True)
# add "Unknown" to missing values in the categories with text
wine.country.fillna("Unknown",inplace=True)
wine.designation.fillna("Unknown",inplace=True)
wine.province.fillna("Unknown",inplace=True)
wine.region_1.fillna("Unknown",inplace=True)
wine.region_2.fillna("Unknown",inplace=True)
wine.title.fillna("Unknown",inplace=True)
# there is only one row with missing variety
wine.drop(wine[wine.variety.isna()].index, inplace=True)

wine.isna().sum() #86909

country            0
description        0
designation        0
points             0
price          17114
province           0
region_1           0
region_2           0
variety            0
winery             0
title              0
dtype: int64

In [6]:
medians = wine.groupby(['country']).price.median()
medians

country
Albania                   20.0
Argentina                 15.0
Armenia                   14.5
Australia                 20.0
Austria                   25.0
Bosnia and Herzegovina    13.0
Brazil                    20.5
Bulgaria                  12.0
Canada                    30.0
Chile                     15.0
China                     18.0
Croatia                   20.0
Cyprus                    16.0
Czech Republic            18.0
Egypt                      NaN
England                   50.0
France                    25.0
Georgia                   17.0
Germany                   26.0
Greece                    19.0
Hungary                   25.0
India                     12.0
Israel                    25.0
Italy                     28.0
Japan                     24.0
Lebanon                   22.0
Lithuania                 10.0
Luxembourg                28.0
Macedonia                 15.0
Mexico                    23.0
Moldova                   13.0
Montenegro                10.0
Morocco                   18.0
New Zealand               20.0
Peru                      14.5
Portugal                  17.0
Romania                   10.0
Serbia                    22.0
Slovakia                  16.0
Slovenia                  23.0
South Africa              18.0
South Korea               13.5
Spain                     18.0
Switzerland               29.0
Tunisia                    NaN
Turkey                    20.0
US                        30.0
US-France                 50.0
Ukraine                   10.0
Unknown                   24.5
Uruguay                   20.0
Name: price, dtype: float64

In [12]:
# TODO BECAREFUL WITH "UNKNOWN", what to do with rows with no countries?

# Get the median price per country and fill n/a price values based on their country
print(wine.iloc[32]['price'])
wine['price'] = wine['price'].fillna(wine.groupby('country')['price'].transform('median'))
print(wine.iloc[32]['price'])
print(wine.isna().sum())

28.0
28.0
country        0
description    0
designation    0
points         0
price          6
province       0
region_1       0
region_2       0
variety        0
winery         0
title          0
dtype: int64